.cart {
    position: relative;
    width: 272px;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.cart:hover {
    cursor: pointer;
}

.price {
    display: flex;
}

.name {
   height: 48px;
   text-align: center;
}