.tabs {
    display: flex;
    list-style-type: none;
}

.section {
    height: 716px;
    overflow: scroll;
    overflow-x: hidden; 
}

.tab {
    width: 200px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'JetBrains Mono',Arial, sans-serif;
}

.tab:hover {
    cursor: pointer;
}

.activeTab {
    border-bottom: solid 2px #4C4CFF;
}