.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.navWrapper {
    width: 320px;
    margin-right: 60px;
}

.nav {
    display: flex;
    flex-direction: column;
}

.navItem {
    height: 60px;
}

.active {
    color: #fff;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}