.header {
    width: 1280px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'JetBrains Mono',Arial, sans-serif;
}

.items {
    display: flex;
}

.item {
    display: flex;
    align-items: center;
}