.header {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 40px;
    font-family: 'JetBrains Mono',Arial, sans-serif;
    background: #1C1C21;
}

.items {
    display: flex;
}

.item {
    display: flex;
    align-items: center;
}

.active {
    color: #fff;
}