.img {
    width: 480px;
    height: 240px;
}

.title {
    text-align: center;
}

.charectiristics {
    display: flex;
    justify-content: space-between;
}

.item {
    text-align: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}