.list {
    height: 720px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.wrapper {
    max-height: 450px;
}

.container {
    max-height: 450px;
    overflow-x: hidden;
    display: flex; 
    flex-direction: column;
    gap: 10px;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.alignCenter {
    align-items: center;
}

.order {
    justify-content: flex-end;
    align-items: center;
}

.flexEnd {
    display: flex;
    justify-content: flex-end;
}